<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Experimental.IO" version="1.0.0.0" targetFramework="net40" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net40" />
  <package id="ServiceStack.Client" version="4.0.20" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.20" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.20" targetFramework="net40" />
</packages>